*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
}

button , input{
  border-radius: 5px;
  border: 2px solid black;
}

.todoApp{
  width: 100%;
  max-width: 90%;
  margin: auto;
  background-color: rgb(0,0,0,0.8);
  padding: 15px 0;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
}

#todoHead{
  text-align: center;
  margin: 5px 0;
  padding-top: 20px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#formPage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  
}

#formPage input{
  width: 100%;
  max-width: 50%;
  padding: 8px 10px;
  background-color: inherit;
  outline: none;
  margin: 10px 0;
  color: white;
  border: 1px solid rgb(243, 240, 240);
}

#formPage button{
  padding: 8px 20px;
  outline: none;
  background-color: inherit;
  margin: 5px 5px;
  color: white;
  border: 2px solid rgb(84, 83, 83);
  border-bottom: 1.5px solid rgba(99, 98, 98, 0.5);

}

#formPage button:hover{
  border: 1.5px solid rgb(95, 95, 95);
  border-bottom: 2px solid rgba(111, 109, 109, 0.5);
}


.showingAlert{
  height: 30px;
  margin: 10px 0;
}

.todoList{
  width: 100%;
  max-width: 70%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.eachTodo{
  background-color: rgb(0,0,0,0.5);
  width: 100%;
  max-width: 90%;
  border: 2px solid rgb(138, 134, 134);
  margin: 20px 0;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
}

.eachTodo p{
  font-size: 1.2rem;
  margin : 5px 10px;
  word-break: break-all;
  text-transform: capitalize;
  color: white;
}

.eachTodo .todoBtns{
  width: 100%;
  max-width: 50%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

i.edit-btn{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(0,0,0,1);
  padding: 10px;
  border-radius: 6px;
}

i.del-btn{
  color: rgb(209, 25, 25);
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(0,0,0,1);
  padding: 10px;
  border-radius: 6px;
}

.myalert{
  width: 100%;
  max-width: 40%;
  padding: 2px;
  font-size: 10px;
  margin:auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

.myalert-danger{
  border: 2px solid red;
  color: red;
  font-size: small;
}

.myalert-success{
  border: 2px solid green;
  color: green;
  font-size: small;
}